Repository ecmwf-projects/c3s2-eqc-quality-assessment: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-filenames, fix-legacy-urls, validate-headers

validate-filenames:
  name: validate-filenames
  entry: python scripts/validate-filenames.py
  language: python

fix-legacy-urls:
  name: fix-legacy-urls
  entry: python scripts/fix-legacy-urls.py
  language: python
  additional_dependencies:
  - nbformat

validate-headers:
  name: validate-headers
  entry: python scripts/validate-headers.py
  language: python
  additional_dependencies:
  - nbformat

fix admonitions
  Satellite_ECVs/Cryosphere/satellite_derived-gridded-glacier-mass-change_data-completeness_q01.ipynb
  Satellite_ECVs/Cryosphere/satellite_derived-gridded-glacier-mass-change_trend-assessment_q02.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

Deploy preview for PR 142 🛫
  pr-preview/pr-142/Satellite_ECVs/Cryosphere/satellite_derived-gridded-glacier-mass-change_data-completeness_q01.html
  pr-preview/pr-142/Satellite_ECVs/Cryosphere/satellite_derived-gridded-glacier-mass-change_trend-assessment_q02.html
  pr-preview/pr-142/_sources/Satellite_ECVs/Cryosphere/satellite_derived-gridded-glacier-mass-change_data-completeness_q01.ipynb
  pr-preview/pr-142/_sources/Satellite_ECVs/Cryosphere/satellite_derived-gridded-glacier-mass-change_trend-assessment_q02.ipynb
  pr-preview/pr-142/_sources/templates/template.ipynb
  pr-preview/pr-142/searchindex.js
Due: validate-filenames, fix-legacy-urls, validate-headers

minor template text tweaks (no resulting changes to assessment published)
  templates/template.ipynb
  templates/template_instructions.md
Due: fix-legacy-urls, validate-headers

remove plural in template title for assessment question
  templates/template.ipynb
Due: fix-legacy-urls, validate-headers

Deploy preview for PR 263 🛫
  pr-preview/pr-263/_sources/templates/template.ipynb
  pr-preview/pr-263/searchindex.js
  pr-preview/pr-263/templates/template.html
Due: validate-filenames, fix-legacy-urls, validate-headers

minor template text tweaks (#263)
  templates/template.ipynb
  templates/template_instructions.md
Due: fix-legacy-urls, validate-headers

add q02
  Satellite_ECVs/Land_Hydrology/satellite_satellite-soil-moisture_extremes-detection_q02.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

implement all the requested changes
  In_Situ/insitu_insitu-gridded-observations-europe_climate-monitoring_q04.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

add note
  In_Situ/insitu_insitu-gridded-observations-europe_climate-monitoring_q04.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

Deploy preview for PR 168 🛫
  pr-preview/pr-168/In_Situ/insitu_insitu-gridded-observations-europe_climate-monitoring_q04.html
  pr-preview/pr-168/_sources/In_Situ/insitu_insitu-gridded-observations-europe_climate-monitoring_q04.ipynb
  pr-preview/pr-168/_sources/templates/template.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

add q02
  Satellite_ECVs/Land_Hydrology/satellite_satellite-lake-water-level_completeness_q02.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

q02
  Satellite_ECVs/Atmospheric_Composition/satellite_satellite-albedo_consistency-assessment_q02.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

new permalink
  Seasonal_Forecasts/seasonal_seasonal-monthly-single-levels_uncertainty-quality-flags_q01.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

Deploy preview for PR 253 🛫
  pr-preview/pr-253/Seasonal_Forecasts/seasonal_seasonal-monthly-single-levels_uncertainty-quality-flags_q01.html
  pr-preview/pr-253/_sources/Seasonal_Forecasts/seasonal_seasonal-monthly-single-levels_uncertainty-quality-flags_q01.ipynb
  pr-preview/pr-253/_sources/templates/template.ipynb
  pr-preview/pr-253/_sources/templates/template_instructions.md
  pr-preview/pr-253/searchindex.js
  pr-preview/pr-253/templates/template.html
  pr-preview/pr-253/templates/template_instructions.html
Due: validate-filenames, fix-legacy-urls, validate-headers

Update template.ipynb
  templates/template.ipynb
Due: fix-legacy-urls, validate-headers

Update template_instructions.md
  templates/template_instructions.md
Due: none

e Please enter the commit message for your changes. Lines starting
  templates/template_instructions.md
Due: none

Deploy preview for PR 269 🛫
  pr-preview/pr-269/_sources/templates/template.ipynb
  pr-preview/pr-269/_sources/templates/template_instructions.md
Due: validate-filenames, fix-legacy-urls, validate-headers

Template updates (#269)
  templates/template.ipynb
  templates/template_instructions.md
Due: fix-legacy-urls, validate-headers

eqctier3-b65326c7-9d09-4a23-b75e-8682cf45be64 (#253)
  Seasonal_Forecasts/seasonal_seasonal-monthly-single-levels_uncertainty-quality-flags_q01.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

add q02
  Reanalyses/reanalysis_reanalysis-era5-land-monthly-means_extremes-detection_q02.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

add q01
  Reanalyses/reanalysis_reanalysis-era5-pressure-levels-monthly-means_consistency-assessment_q01.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

fix q02
  Reanalyses/reanalysis_reanalysis-era5-pressure-levels-monthly-means_consistency-assessment_q02.ipynb
  Reanalyses/reanalysis_reanalysis-era5-pressure-levels-monthly-means_variability_q04.ipynb
  Reanalyses/reanalysis_reanalysis-era5-pressure-levels_climate-and-weather-extremes_q03.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

Path conditions:
  validate-filenames: any of: \.ipynb$, but not: ^templates/
  fix-legacy-urls: any of: \.ipynb$
  validate-headers: any of: \.ipynb$
