Repository ecmwf-projects/c3s2-eqc-quality-assessment: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-filenames, fix-legacy-urls, validate-headers

validate-filenames:
  name: validate-filenames
  entry: python scripts/validate-filenames.py
  language: python

fix-legacy-urls:
  name: fix-legacy-urls
  entry: python scripts/fix-legacy-urls.py
  language: python
  additional_dependencies:
  - nbformat

validate-headers:
  name: validate-headers
  entry: python scripts/validate-headers.py
  language: python
  additional_dependencies:
  - nbformat

setup autoupdate and skip ssl issues with cnr
  .github/workflows/weekly.yml
  .pre-commit-config.yaml
  scripts/validate-urls.py
Due: none

cleanup
  .github/workflows/weekly.yml
Due: none

cleanup
  scripts/validate-urls.py
Due: none

restore rufff
  .pre-commit-config.yaml
Due: none

[create-pull-request] automated change
  .pre-commit-config.yaml
Due: none

fix weekly
  .github/workflows/weekly.yml
Due: none

fix weekly (#339)
  .github/workflows/weekly.yml
Due: none

update nb
  Satellite_ECVs/Atmosphere_Physics/satellite_satellite-cloud-properties_uncertainty-quality-flags_q01.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

restore template
  templates/template.ipynb
Due: fix-legacy-urls, validate-headers

Deploy preview for PR 243 🛫
  pr-preview/pr-243/_sources/Satellite_ECVs/Land_Biosphere/satellite_satellite-land-cover_consistency-assessment_q01.ipynb
  pr-preview/pr-243/_sources/templates/template.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

update nb
  In_Situ/insitu_insitu-gridded-observations-europe_climate-and-weather-extremes_q02.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

update
  In_Situ/insitu_insitu-gridded-observations-europe_climate-monitoring_q03.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

Path conditions:
  validate-filenames: any of: \.ipynb$, but not: ^templates/
  fix-legacy-urls: any of: \.ipynb$
  validate-headers: any of: \.ipynb$
