Repository ecmwf-projects/c3s2-eqc-quality-assessment: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-filenames, fix-legacy-urls, validate-headers

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: check-merge-conflict
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [--fix, --show-fixes]
    types_or: [python, pyi]
  - id: ruff-format
    types_or: [python, pyi]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --preserve-quotes]
  - id: pretty-format-toml
    args: [--autofix]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.11.2
  hooks:
  - id: mypy
    args: [--strict, --ignore-missing-imports]
- repo: local
  hooks:
  - id: validate-filenames
    name: validate-filenames
    entry: python scripts/validate-filenames.py
    language: python
    types: [jupyter]
    exclude: ^templates/
- repo: local
  hooks:
  - id: fix-legacy-urls
    name: fix-legacy-urls
    entry: python scripts/fix-legacy-urls.py
    language: python
    types: [jupyter]
    additional_dependencies: [nbformat]
- repo: local
  hooks:
  - id: validate-headers
    name: validate-headers
    entry: python scripts/validate-headers.py
    language: python
    types: [jupyter]
    additional_dependencies: [nbformat]
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.17
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-gfm
- repo: https://github.com/kynan/nbstripout
  rev: 0.7.1
  hooks:
  - id: nbstripout
    args: [--drop-empty-cells, --keep-count, --keep-output, --extra-keys, metadata.kernelspec]

Deploy preview for PR 78 🛫
  pr-preview/pr-78/Climate_Projections/CMIP6/CMIP6.html
  pr-preview/pr-78/Climate_Projections/CORDEX/CORDEX.html
  pr-preview/pr-78/Climate_Projections/climate.html
  pr-preview/pr-78/In_Situ/insitu.html
  pr-preview/pr-78/Reanalyses/reanalysis.html
  pr-preview/pr-78/Satellite_ECVs/Atmosphere_Physics/Atmosphere_Physics.html
  pr-preview/pr-78/Satellite_ECVs/Atmospheric_Composition/Atmospheric_Composition.html
  pr-preview/pr-78/Satellite_ECVs/Cryosphere/Cryosphere.html
  pr-preview/pr-78/Satellite_ECVs/Cryosphere/satellite_satellite-sea-ice-concentration_intercomparison_q03.html
  pr-preview/pr-78/Satellite_ECVs/Land_Biosphere/Land_Biosphere.html
  pr-preview/pr-78/Satellite_ECVs/Land_Hydrology/Land_Hydrology.html
  pr-preview/pr-78/Satellite_ECVs/Ocean/Ocean.html
  pr-preview/pr-78/Satellite_ECVs/satellite.html
  pr-preview/pr-78/Seasonal_Forecasts/seasonal.html
  pr-preview/pr-78/_images/0641c46b419260bd15af8732051e8a71561c99abd139792ffadc117dbcbe7469.png
  pr-preview/pr-78/_images/45e160e8a5b1787f18f04a9f1deaa7b98e5932f0331aca75b520d54ba1e54585.png
  pr-preview/pr-78/_images/87f678f0464cc809c231772045d29495f76bec0b35f4df70688e06fe3cc9fa5c.png
  pr-preview/pr-78/_images/927135936d8a7bc2fe198f3815e9a87851400bb9f85d8e42a03935672ba57159.png
  pr-preview/pr-78/_images/92a81305e0d5d10ad67c8163b5719fd73236211b0903ffb20c7bc8fced0ae3cb.png
  pr-preview/pr-78/_images/b0baea10ad10c77131d0e4817ef16b42fee17cda71851bd31f4ae4b3e482f421.png
  pr-preview/pr-78/_images/d763be77aa67013500f580f433b43f1511eb20afd4d25507900497d18747dccc.png
  pr-preview/pr-78/_images/f98d1e9d45d52a98190fc2aa89ccf94728256bff562b69d632e86c3de60b16f3.png
  pr-preview/pr-78/_sources/Satellite_ECVs/Cryosphere/satellite_satellite-sea-ice-concentration_intercomparison_q03.ipynb
  pr-preview/pr-78/_sources/templates/template.ipynb
  pr-preview/pr-78/genindex.html
  pr-preview/pr-78/intro.html
  pr-preview/pr-78/objects.inv
  pr-preview/pr-78/search.html
  pr-preview/pr-78/searchindex.js
  pr-preview/pr-78/templates/template.html
  pr-preview/pr-78/templates/template_instructions.html
Due: validate-filenames, fix-legacy-urls, validate-headers

update
  Satellite_ECVs/Cryosphere/satellite_satellite-sea-ice-concentration_intercomparison_q02.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

merge main
  Satellite_ECVs/Cryosphere/satellite_satellite-sea-ice-concentration_intercomparison_q02.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

corrected dataset version
  Satellite_ECVs/Atmosphere_Physics/satellite_satellite-total-column-water-vapour-land-ocean_validation_q01.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

Deploy preview for PR 329 🛫
  pr-preview/pr-329/Satellite_ECVs/Atmosphere_Physics/satellite_satellite-total-column-water-vapour-land-ocean_validation_q01.html
  pr-preview/pr-329/_sources/Satellite_ECVs/Atmosphere_Physics/satellite_satellite-total-column-water-vapour-land-ocean_validation_q01.ipynb
  pr-preview/pr-329/_sources/templates/template.ipynb
  pr-preview/pr-329/searchindex.js
Due: validate-filenames, fix-legacy-urls, validate-headers

Deploy preview for PR 321 🛫
  pr-preview/pr-321/Climate_Projections/CMIP6/CMIP6.html
  pr-preview/pr-321/Climate_Projections/CORDEX/CORDEX.html
  pr-preview/pr-321/Climate_Projections/CORDEX/climate_projections-cordex-domains-single-levels_validation_q05.html
  pr-preview/pr-321/Climate_Projections/climate.html
  pr-preview/pr-321/In_Situ/insitu.html
  pr-preview/pr-321/Reanalyses/reanalysis.html
  pr-preview/pr-321/Satellite_ECVs/Atmosphere_Physics/Atmosphere_Physics.html
  pr-preview/pr-321/Satellite_ECVs/Atmospheric_Composition/Atmospheric_Composition.html
  pr-preview/pr-321/Satellite_ECVs/Cryosphere/Cryosphere.html
  pr-preview/pr-321/Satellite_ECVs/Land_Biosphere/Land_Biosphere.html
  pr-preview/pr-321/Satellite_ECVs/Land_Hydrology/Land_Hydrology.html
  pr-preview/pr-321/Satellite_ECVs/Ocean/Ocean.html
  pr-preview/pr-321/Satellite_ECVs/satellite.html
  pr-preview/pr-321/Seasonal_Forecasts/seasonal.html
  pr-preview/pr-321/_sources/Climate_Projections/CORDEX/climate_projections-cordex-domains-single-levels_validation_q05.ipynb
  pr-preview/pr-321/_sources/templates/template.ipynb
  pr-preview/pr-321/genindex.html
  pr-preview/pr-321/intro.html
  pr-preview/pr-321/objects.inv
  pr-preview/pr-321/search.html
  pr-preview/pr-321/searchindex.js
  pr-preview/pr-321/templates/template.html
  pr-preview/pr-321/templates/template_instructions.html
Due: validate-filenames, fix-legacy-urls, validate-headers

Added problematic nb
  satellite_satellite-ice-sheet-elevation-change_trend-assessment_q01.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

section link check version 1.0
  satellite_satellite-ice-sheet-elevation-change_trend-assessment_q01.ipynb
  scripts/validate-headings.py
Due: validate-filenames, fix-legacy-urls, validate-headers

link to section checj v1.1
  scripts/validate-headings.py
Due: none

Deploy preview for PR 321 🛫
  pr-preview/pr-321/.buildinfo
  pr-preview/pr-321/Climate_Projections/CMIP6/CMIP6.html
  pr-preview/pr-321/Climate_Projections/CORDEX/CORDEX.html
  pr-preview/pr-321/Climate_Projections/CORDEX/climate_projections-cordex-domains-single-levels_validation_q05.html
  pr-preview/pr-321/Climate_Projections/climate.html
  pr-preview/pr-321/In_Situ/insitu.html
  pr-preview/pr-321/Reanalyses/reanalysis.html
  pr-preview/pr-321/Satellite_ECVs/Atmosphere_Physics/Atmosphere_Physics.html
  pr-preview/pr-321/Satellite_ECVs/Atmospheric_Composition/Atmospheric_Composition.html
  pr-preview/pr-321/Satellite_ECVs/Cryosphere/Cryosphere.html
  pr-preview/pr-321/Satellite_ECVs/Land_Biosphere/Land_Biosphere.html
  pr-preview/pr-321/Satellite_ECVs/Land_Hydrology/Land_Hydrology.html
  pr-preview/pr-321/Satellite_ECVs/Ocean/Ocean.html
  pr-preview/pr-321/Satellite_ECVs/satellite.html
  pr-preview/pr-321/Seasonal_Forecasts/seasonal.html
  pr-preview/pr-321/_sources/Climate_Projections/CORDEX/climate_projections-cordex-domains-single-levels_validation_q05.ipynb
  pr-preview/pr-321/_sources/templates/template.ipynb
  pr-preview/pr-321/genindex.html
  pr-preview/pr-321/intro.html
  pr-preview/pr-321/objects.inv
  pr-preview/pr-321/search.html
  pr-preview/pr-321/searchindex.js
  pr-preview/pr-321/templates/template.html
  pr-preview/pr-321/templates/template_instructions.html
Due: validate-filenames, fix-legacy-urls, validate-headers

Added a few changes to the validate heading
  scripts/validate-headings.py
Due: none

Corrected math formulas and table of content numbering
  Satellite_ECVs/Atmosphere_Physics/satellite_satellite-total-column-water-vapour-land-ocean_validation_q01.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

Deploy preview for PR 329 🛫
  pr-preview/pr-329/.buildinfo
  pr-preview/pr-329/Satellite_ECVs/Atmosphere_Physics/satellite_satellite-total-column-water-vapour-land-ocean_validation_q01.html
  pr-preview/pr-329/_images/1e444e98e7dcbc08aa54aa12bd2ac6ec874674ca7bdd1185e970de6c23071bbd.png
  pr-preview/pr-329/_images/250a00d65a3c09d07044fcb3d88c34f291ea9e2bd6d8b41320d8dbcbd00cf6dc.png
  pr-preview/pr-329/_images/360d6044bcbccf2cf040284dc42319a12fac973cb453e45cb562771bded811b5.png
  pr-preview/pr-329/_images/4a776a10351ca1d7cd3fceface7cc0353ba5663eb480bf93242c158e11ae8446.png
  pr-preview/pr-329/_sources/Satellite_ECVs/Atmosphere_Physics/satellite_satellite-total-column-water-vapour-land-ocean_validation_q01.ipynb
  pr-preview/pr-329/_sources/templates/template.ipynb
  pr-preview/pr-329/objects.inv
  pr-preview/pr-329/searchindex.js
Due: validate-filenames, fix-legacy-urls, validate-headers

Corrected table of content for a few other notebooks
  Satellite_ECVs/Land_Biosphere/satellite_satellite-fire-burned-area_climate-and-weather-extremes_q01.ipynb
  Seasonal_Forecasts/seasonal_seasonal-monthly-single-levels_uncertainty-quality-flags_q01.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

anchor link can now bw more than ref link
  scripts/validate-headings.py
Due: none

Adde extra anchor link to avoi error from link chek
  templates/template.ipynb
Due: fix-legacy-urls, validate-headers

back to cheking equality between ref and anchor
  scripts/validate-headings.py
Due: none

updated naming conventions
  scripts/validate-headings.py
Due: none

alternative toc validation
  scripts/validate-headings.py
Due: none

fix for template
  scripts/validate-headings.py
Due: none

revert template change
  templates/template.ipynb
Due: fix-legacy-urls, validate-headers

alternative toc validation (#332)
  scripts/validate-headings.py
  templates/template.ipynb
Due: fix-legacy-urls, validate-headers

make sure all lev3 headings have an anchor
  Satellite_ECVs/Land_Biosphere/satellite_satellite-fire-burned-area_climate-and-weather-extremes_q01.ipynb
  Satellite_ECVs/Land_Biosphere/satellite_satellite-fire-burned-area_trend-assessment_q02.ipynb
  Seasonal_Forecasts/seasonal_seasonal-monthly-single-levels_forecast-skill_q02.ipynb
  scripts/fix-markdown-strings.py
  scripts/validate-headings.py
Due: validate-filenames, fix-legacy-urls, validate-headers

restore attached figure
  Seasonal_Forecasts/seasonal_seasonal-monthly-single-levels_forecast-skill_q02.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

q02
  Satellite_ECVs/Atmospheric_Composition/satellite_satellite-methane_extremes-detection_q02.ipynb
Due: validate-filenames, fix-legacy-urls, validate-headers

Deploy preview for PR 313 🛫
  pr-preview/pr-313/.buildinfo
  pr-preview/pr-313/Climate_Projections/CMIP6/CMIP6.html
  pr-preview/pr-313/Climate_Projections/CORDEX/CORDEX.html
  pr-preview/pr-313/Climate_Projections/climate.html
  pr-preview/pr-313/In_Situ/insitu.html
  pr-preview/pr-313/Reanalyses/reanalysis.html
  pr-preview/pr-313/Satellite_ECVs/Atmosphere_Physics/Atmosphere_Physics.html
  pr-preview/pr-313/Satellite_ECVs/Atmospheric_Composition/Atmospheric_Composition.html
  pr-preview/pr-313/Satellite_ECVs/Atmospheric_Composition/satellite_satellite-methane_extremes-detection_q02.html
  pr-preview/pr-313/Satellite_ECVs/Cryosphere/Cryosphere.html
  pr-preview/pr-313/Satellite_ECVs/Land_Biosphere/Land_Biosphere.html
  pr-preview/pr-313/Satellite_ECVs/Land_Hydrology/Land_Hydrology.html
  pr-preview/pr-313/Satellite_ECVs/Ocean/Ocean.html
  pr-preview/pr-313/Satellite_ECVs/satellite.html
  pr-preview/pr-313/Seasonal_Forecasts/seasonal.html
  pr-preview/pr-313/_sources/Satellite_ECVs/Atmospheric_Composition/satellite_satellite-methane_extremes-detection_q02.ipynb
  pr-preview/pr-313/_sources/templates/template.ipynb
  pr-preview/pr-313/genindex.html
  pr-preview/pr-313/intro.html
  pr-preview/pr-313/objects.inv
  pr-preview/pr-313/search.html
  pr-preview/pr-313/searchindex.js
  pr-preview/pr-313/templates/template.html
  pr-preview/pr-313/templates/template_instructions.html
Due: validate-filenames, fix-legacy-urls, validate-headers
